<div class="home">
	<div class="panel panel-default actions">
		<div class="panel-heading">Quick Actions</div>
		
		<div class="panel-body">
			<a href="#" class="btn btn-success">+</a>
		</div>
	</div>
	
	<div class="panel panel-default actions">
		<div class="panel-heading">Quick Summary (Monthly)</div>
		
		<table class="table">
			<tr>
				<th>Service Due</th>
				<td class="text-right">30</td>
			</tr>
			<tr>
				<th>Insurance Due</th>
				<td class="text-right">3</td>
			</tr>
		</table>
	</div>
	
	<div class="panel panel-default actions">
		<div class="panel-heading">Accounts</div>
		
		<div class="panel-body">
			<chart xData="lineChartXData" yData="lineChartYData" xName="Month" yName="Hit"></chart>
		</div>
	</div>
</div>